$light-purple: #E7DFFF;
$bg-light-grey: #F5F5F5;
$border-grey: #EAEAEA;

$purple: #9013FE;
$blacktext: #4A4A4A;
$greyfont: #9B9B9B;
$deep-black: #231F2A;
$darkgrey-font: #777777;

$purple-gradient : linear-gradient(-180deg, #714BFF 0%, #9013FE 100%);
$purple-gradient-reverse : linear-gradient(-180deg, #9013FE 0%, #714BFF 100%);

$facebook-gradient: linear-gradient(-180deg, #6D7FC9 0%, #3B4998 100%);
$ig-gradient : linear-gradient(-180deg, #6E3A92 16%, #BB3939 59%, #FFB347 100%);
$voov-gradient : linear-gradient(-180deg, #6742DB 0%, #37109B 100%);