@import './color.scss';
@import './font.scss';
@import './mixin.scss';

.loading {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  li {
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    margin: 0;
    height: 10px;
    width: 10px;
    border: 3px solid $purple;
    border-radius: 100%;
    transform: transformZ(0);
    animation: LOADING 2s infinite;
    &:nth-child(1n) {
      left: -20px;
      animation-delay: 0s;
    }
    &:nth-child(2n) {
      left: 0;
      animation-delay: 0.2s;
    }
    &:nth-child(3n) {
      left: 20px;
      animation-delay: 0.4s;
    }
  }
}

.loading-grid-row {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .loading-col {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .loading-col + .loading-col {
    background: $purple;
    left: auto;
    right: 0;
  }
}

@keyframes  LOADING {
  0%   { 
    transform: scale(0.5);
    background: $purple;
  }
  50%   { 
    transform: scale(1);
    background: white;
  }
  100% { 
    transform: scale(0.5);
    background: $purple;
  }
}

@keyframes  LOADINGREV {
  0%   { 
    transform: scale(0.5);
    background: white;
  }
  50%   { 
    transform: scale(1);
    background: $purple;
  }
  100% { 
    transform: scale(0.5);
    background: white;
  }
}