@import './color.scss';
@import './font.scss';
@import './mixin.scss';

.MainIdol {
  width: 670px;
  z-index: 3;
  top: 5vh;
  //padding-right: 20px;
  right: 50px !important;
  bottom: 0;
  position: relative;
  img {
    width: 100%;
  }
  @include breakpoint(xs){
    width: 600px;
    left: -50px!important;
    right: 0!important;
    top: 2vh;
  }
  @include breakpoint(xxs) {
    width: 360px;
    top: 3vh;
    left: -23px!important;
  }
}

.IdolLanding {
  height: 100vh;
  overflow: hidden;
  background-color: $bg-light-grey;
  max-height: 1080px;
  position: relative;
  @include breakpoint(xs){
    max-height: 905px;
  }
  @include breakpoint(xxs){
    max-height: 594px;
  }
  .container {
    position: relative;
    height: 100vh;
    max-height: 1080px;
    @include breakpoint(xs){
      max-height: 905px;
    }
    @include breakpoint(xxs){
      max-height: 594px;
    }
  }
}

.MainIdol,
.EffectFront,
.EffectBack {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

.EffectFront {
  width: 790px;;
  top: 25vh;
  z-index: 4;
  padding-left: 10vh;
  img {
    width: 100%;
  }
  @include breakpoint(max-sm){
    width: 740px;
  }
  @include breakpoint(xs){
    width: 680px;
    left: -50px;
  }
  @include breakpoint(xxs){
    width: 510px;
    left: -20px;
    top: 24vh;
  }
}

.EffectBack {
  width: 782px;
  z-index: 2;
  top: 13vh;
  img {
    width: 100%;
  }
  @include breakpoint(max-sm){
    width: 742px;
  }
  @include breakpoint(xs){
    width: 682px;
    left: -50px;
  }
  @include breakpoint(xxs){
    width: 512px;
    left: -20px;
    top: 12vh;
  }
}

.CircleBg {
  position: absolute;
  background-color: $light-purple;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  z-index: 1;
  top: 21vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  @include breakpoint(max-sm){
    width: 720px;
    height: 720px;
  }
  @include breakpoint(xs){
    width: 550px;
    height: 550px;
  }
  @include breakpoint(xxs){
    width: 550px;
    height: 550px;
  }
  @include breakpoint(xxxs){
    width: 400px;
    height: 400px;
    top: 16vh;
  }
}

.TitleTag {
  background-image: $purple-gradient;
  box-shadow: 0 6px 14px 0 rgba(80, 35, 137, 0.21), 0 17px 20px -6px rgba(132, 7, 240, 0.25);
  padding: 15px 25px 25px 25px;
  position: absolute;
  z-index: 10;
  min-width: 410px;
  bottom: 13vh;

  h1,
  h4,
  h6 {
    color: white;
    line-height: 1;
    margin: 0;
  }

  h1 {
    font-family: $bold-font;
    font-size: 3.75rem;
    text-transform: uppercase;
    position: relative;
    &:after {
      content: '';
      height: 5px;
      width: 130px;
      background-color: white;
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translatey(-50%);
    }
  }

  h6 {
    font-family: $light-font;
    font-size: 0.875rem;
    &.Name {
      margin-bottom: 25px;
    }
  }

  h4 {
    font-family: $semibold-font;
    margin-bottom: 5px;
  }
  @include breakpoint(max-sm){
    bottom: 41px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
    padding-bottom: 35px;
  }
  @include breakpoint(xxs){
    width: 100%;
    min-width: auto;
    bottom: 0;
    padding: 8px 12px 32px 12px;
    text-align: center;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 8px;
      &:after {
        display: none;
      }
    }
    h4 {
      font-size: 1.125rem;
    }
    h6 {
      &.Name {
        display: none;
      }
    }
  }
}

.DotPatternTop {
  width: 83px;
  height: 83px;
  top: 100px;
  left: 0;
  z-index: 5;
  @include breakpoint(max-sm){
    top: 90px;
    width: 60px;
    height: 60px;
  }
  @include breakpoint(xs){
    display: none;
  }
}

.DotPatternBottom {
  width: 92px;
  height: 92px;
  right: 0;
  bottom: 50px;
  z-index: 5;
  @include breakpoint(max-sm) {
    width: 70px;
    height: 70px;
    bottom: 10px;
  }
  @include breakpoint(xs){
    display: none;
  }
}

.DotPatternTop,
.DotPatternBottom {
  position: absolute;

  img {
    width: 100%;
  }
}

.SnsTopLabel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 20vh;
  text-align: right;
  z-index: 10;

  h5 {
    font-size: 1rem;
    margin-bottom: 25px;
    font-family: $medium-font;
  }

  img {
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
  }

  h6 {
    color: $purple;
    margin-bottom: 20px;
    font-size: 0.875rem;
  }

  a {
    &:hover {
      color: $purple;
    }
  }

  @include breakpoint(max-sm) {
    display: none;
  }

  .LineDown {
    height: 110px;
    width: 7px;
    background-color: $purple;
    position: absolute;
    right: 0;
    text-align: right;
    bottom: -120px;
  }
}

.ScrollDown {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 100;

  h6 {
    color: $blacktext;
    font-size: 1rem;
    @include breakpoint(max-sm){
      display: none;
    }
  }

  .DownButton {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.11);
    border-radius: 999px;
    border: 0;
    cursor: pointer;
    transition: 0.3s;

    i {
      font-size: 2rem;
      color: $purple;
      animation: MoveUpDown 1s ease-in-out infinite;
    }

    &:hover {
      transform: scale(1.2, 1.2);
      text-decoration: none;
    }
  }
  @include breakpoint(xxs){
    bottom: 0px;
    .DownButton {
      background: rgba(255, 255, 255, 0);
      box-shadow: none;
      width: 30px;
      height: 30px;
      i {
        font-size: 1.3rem;
        color: white;
      }
    }
  }
}

@keyframes MoveUpDown {

  0%,
  100% {
    padding-top: 5px;
  }

  50% {
    padding-bottom: 10px;
  }
}

////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// Intro Section ////// //////  ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// //////

  .PurpleBG {
    height: 400px;
    width: 100%;
    background: $purple-gradient;
    position: absolute;
    z-index: -1;
    @include breakpoint(xxs){
      background: $purple-gradient-reverse;
    }
  }

  .SectionTitle {
    text-align: center;
    display: block;
    width: 100%;
    padding: 60px 0px 20px 0px;
    h5 {
      text-transform: uppercase;
      color: white;
      font-size: 1.5rem;
      letter-spacing: 4.45px;
      font-family: $light-font;
      @include breakpoint(xxs){
        font-size: 1.25rem;
      }
    }
    h2 {
      font-family: $medium-font;
      color:white;
      font-size: 2.25rem;
      @include breakpoint(xxs){
        font-size: 2.15rem;
      }
    }
  }

  .IntroPhoto {
    position: relative;
    text-align: center;
    width: 100%;
    height: 344px;
    box-shadow: 0 35px 32px -18px rgba(0, 0, 0, 0.12);
    margin-bottom: 40px;
    @include breakpoint (max-sm) {
      box-shadow: none;
    }
    @include breakpoint (xxs) {
      height: 290px;
      padding: 0px 12px;
    }
    .Img {
      display: inline-block;
      box-sizing: border-box;
      border: 10px solid white;
      background-size: cover;
      position: absolute;
    }
    .FrontImg {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 584px;
      height: 344px;
      background-image: url('../images//intro-image01.jpg');
      z-index: 2;
      @include breakpoint (xs) {
        width: 100%;
      }
      @include breakpoint (max-sm) {
        box-shadow: 0 35px 32px -18px rgba(0, 0, 0, 0.12);
      }
      @include breakpoint (xxs) {
        height: 290px;
        position: relative;
      }
    }
    .BackLeftImg,
    .BackRightImg {
      z-index: 1;
      bottom: 0;
      width: 325px;
      height: 275px;
      @include breakpoint(max-sm){
        display: none;
      }
    }
    .BackRightImg {
      right: 0;
      background-image: url('../images//intro-image03.jpg');
      background-position: right top;
    }
    .BackLeftImg {
      left: 0;
      background-image: url('../images//intro-image02.jpg');
      background-position: left top;
    }
  }

  .TextContent {
    position: relative;
    margin-bottom: 70px;
    p {
      font-family: $read-regular-font;
      font-size: 1.125rem;
      color: $blacktext;
      line-height: 2;
    }
    a {
      color: $purple;
      text-decoration: underline;
      font-weight: bold;
    }
    .Hide {
      height: 200px;
      overflow: hidden;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
        height: 120px;
        bottom: 0;
        left: 0;
      }
    }
    .Show {
      height: auto;
      overflow: auto;
    }
  }

@include breakpoint(xxs){
  .HideOnXXS {
    display: none!important;
  }
}

.ReadMoreButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $blacktext;
  padding: 6px 14px 6px 18px;
  background: #FFFFFF;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.20);
  border: 1px solid transparent;
  outline: 0;
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    border: 0;
    outline: 0;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid $border-grey;
  }
  &:focus{
    border: 0;
    outline: 0;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid $border-grey;
  }
}

.IntroListGroup {
  margin-bottom: 40px;
  @include breakpoint(xs){
    margin-bottom: 15px;
  }
  .IntroListRow {
    margin-bottom: 30px;
    @include breakpoint(xs){
      margin-bottom: 0px;
    }
    .IntroList{
      display: flex;
      @include breakpoint(xs){
        margin-bottom: 30px;
      }
      img {
        width: 65px;
        height: 65px;
        margin-right: 30px;
        pointer-events: none;
      }
      h6 {
        font-family: $medium-font;
        font-size: 1rem;
        color: $blacktext;
      }
      p {
        font-family: $read-regular-font;
        font-size: 0.875rem;
        margin-bottom: 10px;
        color: $blacktext;
      }
      a {
        color: $purple;
        position: relative;
        span {
          text-decoration: underline;
          margin-right: 4px;
        }
        i {
          font-size: 1rem;
          position: absolute;
          top: 5px;
        }
      }
    }
  }
}

.Profile {
  margin-top: 30px;
  margin-bottom: 20px;
  //display: flex;
  .ProfilePhoto {
    //width: 40%;
    min-height: 430px;
    box-sizing: border-box;
    border: 10px solid white;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.11), 0 0 41px -9px rgba(0,0,0,0.21);
    background-image: url('../images/profile.jpg');
    background-size: cover;
    //margin-right: 30px;
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    top: 0;
    z-index: 1;
    @include breakpoint(max-sm) {
      position: relative;
      left: 0;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  .Details {
    display: flex;
    flex-wrap: wrap;
    .ColumnLeft {
      width: 33.33%;
      flex: 0 0 33.33%;
    }
    .ColumnRight {
      width: 66.67%;
      flex: 0 0 66.67%;
    }
    @include breakpoint(max-sm)  {
      max-width: 450px;
      margin: 0 auto;
    }
  }

  .ProfileText {
    .Name {
      margin-bottom: 25px;
      h3 {
        font-size: 1.5rem;
        margin-bottom: 5px;
        color: $blacktext;
        em {
          font-style: initial;
          color: $purple;
        }
      }
      @include breakpoint(max-sm)  {
        text-align: center;
      }
    }
    .Detail {
      margin-bottom: 25px;
      h6 {
        color: $greyfont;
        font-size: 0.875rem;
        margin-bottom: 4px;
      }
      p {
        color: $blacktext;
      }
    }
  }
  .Reference {
    font-size: 0.875rem;
    color: $greyfont;
    font-family: $light-font;
    //margin-top: 10px;
    @include breakpoint(max-sm){
      width: 100%;
      text-align: center;
    }
  }
}

.PortfolioBG {
  width: 100%;
  height: 100%;
  background: $deep-black;
  position: relative;
  padding-bottom: 50px;
}

.Portfolio  {
  .SubSectionTitle {
    margin-top: 150px;
    margin-bottom: 40px;
    @include breakpoint(max-sm) {
      margin-top: 30px;
    }
    h3 {
      color: white;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  .Portfolio {
    width: 100%;
    min-height: 1px;
    a {
      cursor: pointer;
      width: 100%;
      display: block;
      position: relative;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05,1.05);
      }
    }
    .Item {
      height: 350px;
      background-size: cover;
      background-position: center center;
    }
    .Description {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      display: block;
      text-align: center;
      padding: 12px 0px;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      font-size: 1rem;
      font-family: $medium-font;
    }
    .Hamburger {
      background-image: url('../images/portfolio-hamburger.jpg');
    }
    .ThaiBall {
      background-image: url('../images/portfolio-thaifootball.jpg');
    }
    .GDC {
      background-image: url('../images/portfolio-movies.jpg');
    }
  }
  .ColPort3 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// FollowBox ////// //////  ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// ////// 
////// ////// ////// ////// ////// ////// ////// ////// //////

.FollowBoxGroup {
  margin-top: 20px;
  margin-bottom: 50px;
  .FollowBox {
    background-color: white;
    display: block;
    width: 100%;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 14px 0 rgba(160,136,191,0.21), 0 17px 20px -6px rgba(145,86,197,0.25);
    .BoxHead {
      height: 100px;
      width: 101%;
      text-align: center;
      margin-top: -4px;
      &.Facebook {
        background-image: $facebook-gradient;
      }
      &.Voov {
        background-image: $voov-gradient;
      }
      &.Instagram {
        background-image: $ig-gradient;
      }
      h6 {
        color: white;
        font-size: 1rem;
        padding-top: 20px;
        margin: 0;
      }
    }
    &:hover {
      text-decoration: none;
      transform: translateY(-10px);
      box-shadow: 0 12px 60px 0 rgba(160,136,191,0.31), 0 24px 30px -6px rgba(145,86,197,0.25);
    }
  }
  .Avarta {
    width: 90px;
    height: 90px;
    box-shadow: 0 5px 14px 0 rgba(0,0,0,0.15);
    background-size: cover;
    border-radius: 999px;
    margin: 0 auto;
    margin-top: -45px;
    margin-bottom: 20px;
    &.Facebook {
      background-image: url('../images/follow/fb-profile.jpg');
    }
    &.FacebookFan {
      background-image: url('../images/follow/fbfan-profile.jpg');
    }
    &.Voov {
      background-image: url('../images/follow/voov-profile.jpg');
    }
    &.Instagram{
      background-image: url('../images/follow/ig-profile.jpg');
    }
  }
  .SocialID {
    text-align: center;
    margin-bottom: 20px;
    img {
      height: 24px;
      width: 24px;
      object-fit: contain;
      margin-right: 6px;
    }
    span {
      color: $blacktext;
    }
  }
  .FooterBox {
    padding: 10px 0px;
    border-top: 1px solid $border-grey;
    span {
      color: $greyfont;
      display: block;
      text-align: center;
    }
  }
}

#follow {
  .PurpleBG {
    height: 315px;
  }
}